.columns {
	position: relative;
	display: flex;

	@include mq(medium){
		display: block;
	}
}

.columns__column {
	overflow: hidden;
	flex-basis: 100%;
	padding-left: $spacing--normal;
	padding-right: $spacing--normal;

	@include mq(medium){
		padding-left: 0;
		padding-right: 0;
		padding-bottom: $spacing--normal;
	}
}

.columns__column:first-of-type {
	padding-left: 0;
}

.columns__column:last-of-type {
	padding-right: 0;
	padding-bottom: 0;
}