.main-menu {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;

	background: transparentize(black, 0.6);

	width: 100%;
	height: 100%;

	z-index: -1;

	overflow: scroll;

	transition-property: opacity;
	transition-duration: 250ms;
}

.main-menu__content {
	width: 900px;
	max-width: 100%;
	//margin: 0 auto;

	transform: rotate(0.5deg) scale(0.9);

	//transform: translate(0, -20px);

	transition-property: transform;
	transition-duration: 250ms;
}

.main-menu__content-inner {
	position: relative;
	padding-top: 150px;
	padding-bottom: 330px;
	padding-left: 80px;
	padding-right: 80px;
	margin-top: 30px;
	margin-bottom: 150px;
}

.main-menu-toggle {
	position: fixed;
	width: 80px;
	top: 30px;
	right: 30px;

	z-index: 100000000;

	&:hover {
		transform: scale(1.2);
	}
}

.main-menu-toggle__close {
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: 250ms;
}

.main-menu-toggle__shadow {
	opacity: 0.8;
	fill: #7C7B7A;
}

.main-menu-toggle__background {
	fill: #030303;
}

.main-menu-toggle__hamburger path, .main-menu-toggle__close {
	fill: #ffffff;

	transition-property: opacity;
	transition-duration: 250ms;
}

.application--main-menu-is-open {
	// the easiest way to prevent background scrolling bellow fixed elements
	// will however not work on iOS. As always :(
	overflow: hidden;

	.main-menu {
		z-index: 1;
		opacity: 1;
	}

	.main-menu__content {
		//transform: translate(0, 0);
		transform: rotate(4deg) scale(1);
	}

	.main-menu-toggle {
		.main-menu-toggle__close {
			opacity: 1;
		}

		.main-menu-toggle__hamburger {
			opacity: 0;
		}
	}

	.u-stage {
		opacity: 0;
		transform: rotate(4deg) scale(1.1);
	}

	.site-footer {
		opacity: 0;
	}

	.floating-logo {
		z-index: 10000000;
	}

}