.main-menu {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 5%;

	width: 100%;
	height: 100%;

	z-index: -1;

	overflow: scroll;

	transition-property: opacity;
	transition-duration: 250ms;
}

.main-menu__backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-menu__content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	max-width: 100%;

	@include mq(large){
		transform: rotate(0deg) scale(0.8, 0.8);

		transition-duration: 250ms;
		transition-property: transform;
	}
}

/*.main-menu__content-inner {
	position: relative;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 230px;
	padding-bottom: 280px;

	@include mq(medium){
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 200px;
		padding-bottom: 190px;
	}

	@include mq(small){
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 170px;
		padding-bottom: 120px;
	}
}*/

.main-menu-toggle {
	position: fixed;
	z-index: 5000;

	transition-property: transform;
	transition-duration: 250ms;

	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}
}

.main-menu-toggle--default {
	top: 30px;
	right: 30px;
	width: 160px;
}

.main-menu-toggle--mobile {
	display: none;
	top: 20px;
	right: 15px;
	width: 80px;
}

@include mq(show-mobile-menu) {
	.main-menu-toggle--mobile {
		display: block;
	}
	.main-menu-toggle--default{
		display: none;
	}
}

.main-menu-toggle__close {
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: 250ms;
}

.main-menu-toggle__shadow {
	opacity: 0.8;
	fill: #7C7B7A;
}

.main-menu-toggle__background {
	fill: #030303;
}

.main-menu-toggle__hamburger path, .main-menu-toggle__close {
	fill: #ffffff;

	transition-property: opacity;
	transition-duration: 250ms;
}

.application--main-menu-is-open {
	// the easiest way to prevent background scrolling bellow fixed elements
	// will however not work on iOS. As always :(
	overflow: hidden;

	.main-menu {
		z-index: 1000;
		opacity: 1;
	}

	.main-menu__content {
		@include mq(large){
			transform: rotate(5deg);
		}
	}

	.main-menu-toggle {
		.main-menu-toggle__close {
			opacity: 1;
		}

		.main-menu-toggle__hamburger {
			opacity: 0;
		}
	}

	.stage {
		opacity: 0;
	}

	.site-footer {
		opacity: 0;
	}
}