.main-navigation {
	margin-bottom: $spacing--normal;
}

.neos-backend {
	.main-navigation {
		position: relative;

		.growing-comb {
			position: relative;
			border: 1px dashed brand-color(light-grey);

			&::after {
				position: absolute;
				top: -20px;
				left: 0;
				padding-right: $spacing--tiny;
				content: 'Dieser Bereich wird als Menü verwendet';
				font-size: font-size(small);
			}
		}
	}
}