.section {
	position: relative;
	margin-bottom: -40px;

	width: 100%;

	@include mq(sections-touching){
		margin-bottom: 40px;
	}
}

.section--rotated {
	@include mq(large){
		transform: rotate(5deg);
	}
}

.section--force-right {
	.section__content {
		margin-left: auto;
	}

	.comb-spike {
		@extend %comb-spike;
	}

	.comb-spike--bottom {
		@extend %comb-spike--bottom;
	}

	*.section:nth-of-type(2) {
		.section__content {
			margin-left: 0;
			margin-right: auto;
		}
	}
}

.section__content {
	position: relative;
	width: 100%;
	max-width: 860px;
}

.section__icon {
	position: absolute;
	left: 60px;
	top: 0px;
	width: 160px;
	min-height: 160px;

	transform: rotate(-5deg);

	z-index: 2;

	@include mq(medium){
		left: 17px;
		top: -20px;
	}

	@include mq(small){
		left: -10px;
		top: -60px;
	}
}

.neos-backend {
	.section__icon .neos-contentcollection > .neos-empty-contentcollection-overlay {
		position: relative;
		min-height: 160px;

		&::after {
			display: block;
			content: 'optionales Icon';
			position: absolute;
			bottom: 0;
			right: 0;

			color: brand-color(text);
		}
	}
}

*.section:nth-of-type(2) {
	.section__content {
		margin-left: auto;
	}

	.section__icon {
		top: 20px;
		right: 80px;
		left: auto;

		transform: rotate(6deg);

		@include mq(medium){
			right: 17px;
			top: -20px;
		}

		@include mq(small){
			right: -10px;
			top: -60px;
		}
	}
}

