%section__icon--left {
	left: 60px;
	right: auto;
	top: 0;

	transform: rotate(-5deg);

	@include mq(medium){
		left: 17px;
		top: -20px;
	}

	@include mq(small){
		left: 17px;
		top: -60px;
	}
}

%section__icon--right {
	top: 20px;
	right: 80px;
	left: auto;

	transform: rotate(6deg);

	@include mq(medium){
		right: 17px;
		top: -20px;
	}

	@include mq(small){
		right: 17px;
		top: -60px;
	}
}

.section {
	position: relative;
	margin-bottom: -40px;

	width: 100%;

	@include mq(sections-touching){
		margin-bottom: 40px;
	}
}

.section--rotated {
	@include mq(large){
		transform: rotate(5deg);
	}
}

.section--force-right {
	.section__content {
		margin-left: auto;
	}

	.comb-spike {
		@extend %comb-spike;
	}

	.comb-spike--bottom {
		@extend %comb-spike--bottom;
	}

	.section__icon {
		@extend %section__icon--right;
	}

	.section:nth-of-type(even) {
		.section__content {
			margin-left: 0;
			margin-right: auto;
		}

		.section__icon {
			@extend %section__icon--left;
		}
	}
}

.section__content {
	position: relative;
	width: 100%;
	max-width: 860px;
}

.section__icon {
	@extend %section__icon--left;
	position: absolute;

	width: 160px;
	height: 160px;

	z-index: 2;

	.comb-svg {
		width: 180px;
	}
}

.neos-backend {
	.section__icon .neos-contentcollection > .neos-empty-contentcollection-overlay {
		position: relative;
		min-height: 160px;

		&::after {
			display: block;
			content: 'optionales Icon';
			position: absolute;
			bottom: 0;
			right: 0;

			color: brand-color(text);
		}
	}
}

.section:nth-of-type(even) {
	.section__content {
		margin-left: auto;
	}

	.section__icon {
		@extend %section__icon--right;
	}
}
