.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;

	transition-property: opacity;
	transition-duration: 250ms;

	.comb-spike {
		height: 50px;
		width: 100%;
	}

	* {
		color: transparentize(brand-color(white), 0.5);
	}
}