.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 45px;

	transition-property: opacity;
	transition-duration: 250ms;

	.site-footer__content {
		position: relative;

		z-index: 1;
	}

	.comb-spike {
		height: 50px;
		width: 100%;
	}
}