h1 {
	@include type-setting(h1);
}

h2 {
	@include type-setting(h2);
}

h3 {
	@include type-setting(h3);
}

h1, h2, h3 {
	@include reset-spacing();

	margin-bottom: $spacing--normal;

	font-family: 'Istok Web', sans-serif;
	font-weight: normal;


	color: brand-color(black);
}