p {
	@include reset-spacing();
	@include type-setting(text);
	margin-bottom: $spacing--normal;
}

p > br:only-child {
	display: none;
}

p:last-child {
	margin-bottom: 0;
}

small {
	@include reset-spacing();
	@include type-setting(small);
}

body {
	font-family: 'Open Sans', sans-serif;;
	font-weight: 400;
	color: brand-color(text);
}

html, body {
	font-size: 16px;
}