@import "_Framework/Functions";
@import "_Framework/Mixins";
@import "_Framework/Normalize";

@import "_Variables";

// Atoms
@import "Atoms/_Heading";
@import "Atoms/_Link";
@import "Atoms/_List";
@import "Atoms/_Typography";
@import "Atoms/_BrandLogo";
@import "Atoms/_FloatingLogo";
@import "Atoms/_SectionIcon";
@import "Atoms/_Button";

// Molecules
@import "Molecules/_Comb";
@import "Molecules/_GrowingComb";
@import "Molecules/_CombSpike";
@import "Molecules/_MainPagesMenu";


// Organisms
@import "Organisms/_Columns";
@import "Organisms/_Flag";
@import "Organisms/_SiteFooter";
@import "Organisms/_SiteHeader";
@import "Organisms/_MainMenu";
@import "Organisms/_MainNavigation";
@import "Organisms/_Section";
@import "Organisms/_Stage";
@import "Organisms/_Logowall";

// Utilities
@import "Utilities/_Layout";

.neos-nodetypes-image {
	position: relative;
	width: 100%;

	figure {
		margin-top: $spacing--normal;
		margin-bottom: $spacing--normal;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}