/*body {
	background: url('../Images/dummy.jpg');
	background-attachment: fixed;
	padding-top: 2*$page-header-height;

}*/

.u-stage {
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 50px;

	width: 100%;
	max-width: 800px;
	background: white;
}

.u-stage--center {
	margin: 0 auto;
	max-width: 960px;
}

