body {
	background: url('../Images/dummy.jpg');
	background-attachment: fixed;
	padding-top: 2*$page-header-height;

}

.u-stage {
	display: block;
	position: relative;
	overflow: hidden;
	background: #fff;
	padding-top: $page-header-height;
}


.u-has-mobil-menu {
	.siteHeader .menu {
		display: none;
	}

	.siteHeader__mobilNavToggler {
		display: block;
	}

	.secondaryMenu {
		display: none;
	}
}

.u-lock-scrolling {
	overflow-y: hidden;

}

.content {
	margin-top: 200px;
	margin-bottom: 200px;
	background: white;
	padding: 36px;
	width: 60%;
	min-height: 100%;
	max-width: 800px;
}
