html, body {
	min-height: 100vh;
	position: relative;
}

body {
	padding-top: 10%;

	background: darken(#F2F2F2, 2);

	@include mq(medium){
		padding-top: 20%;
		padding-bottom: 500px;
	}

	@include mq(small){
		padding-top: 30%;
		padding-bottom: 500px;
	}
}


.u-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
