// RESET
@mixin reset-list-style() {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin reset-spacing() {
	margin: 0;
	padding: 0;
}

@mixin reset-link-style() {
	color: currentColor;
	text-decoration: none;
}


// TYPO
@mixin type-setting($key) {
	line-height: line-height($key);
	font-size: font-size($key);
}

// MQ
@mixin mq($key) {
	@if breakpoint($key) {
		@media #{breakpoint($key)} { @content; }
	}
}