%comb-spike--flipped {
	transform: scale(-1, 1);
}

%comb-spike--bottom-flipped {
	transform: scale(1, -1);
}

.comb-spike {
	width: 100%;
	polygon {
		fill: white;
	}
}

.comb-spike--bottom {
	transform: scale(-1, -1);
}

