.main-pages-menu {
	@include reset-list-style();
	width: 100%;
	text-align: center;
}

.main-pages-menu__item {
	position: relative;
	display: inline;
	width: auto;
	margin-left: $spacing--small;
	margin-right: $spacing--small;

	font-size: font-size(h3);

	white-space: nowrap;

	&::before {
		display: inline-block;
		content: '';
		position: absolute;
		height: 10px;
		width: 100%;
		left: 5px;
		bottom: 0;

		background: #E0E0E0;

		z-index: -1;
	}

	a {
		color: brand-color(black);
	}
}

.main-pages-menu__item--current {
	&::before {
		background: darken(#E0E0E0, 15);
	}
}