// Menu

.menu {
	line-height: inherit;
	height: inherit;
	margin-left: auto;

	font-family: 'Lato';
	font-weight: 300;

	ul {
		display: flex;
		width: inherit;
		height: inherit;
		justify-content: center;
		@include reset-list-style();
	}

	li {
		@include space(padding-left, 0.75);
		@include space(padding-right, 0.75);
		display: flex;
		justify-content: center;
		align-items: center;
		height: inherit;
		box-sizing: border-box;

		color: transparentize(brand-color(black), 0.3);

		> * {
			color: currentColor;
		}
	}

	li.current, li.active {
		color: brand-color(black);
		border-bottom: 1px solid brand-color(black);
	}
}